body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#map {
    position: fixed;
    z-index: -1;
}

#features {
    width: 60%;
    font-family: sans-serif;
    overflow-y: scroll;
    margin: auto;
    margin-top: 100px
}

section {
    padding: 25px 50px;
    line-height: 25px;
    margin-bottom: 400px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
    background-color: #fafafa;
    /* display: flex; */
}

section.active {
    opacity: 1;
}

section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}

#title {
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  padding: 30px;
}

.column {
  flex: 50%;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}