body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#map {
    position: fixed;
    z-index: -1;
}

#features {
    width: 60%;
    font-family: sans-serif;
    overflow-y: scroll;
    margin: auto;
    margin-top: 100px
}

section {
    padding: 25px 50px;
    line-height: 25px;
    margin-bottom: 400px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
    background-color: #fafafa;
    min-width: 600px
    /* display: flex; */
}

section.active {
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}

#title {
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.row {
  display: table;
  /* padding: 30px; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 45%;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  float: left;
  width: 50%;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 100
}

h1, h2, h3, h4 {
  font-family: 'EB Garamond', serif;
}

h1 {
  font-size: 50px;
  line-height: 1.2

}

h2 {
  font-size: 36px;
  line-height: 1.2
}

h3 {
  font-size: 24px
}

input[type=button] {
  border: 1px;
  padding: 10px;
  text-decoration: none;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Lato';
  max-width: 200px;
  white-space: normal;
word-wrap: break-word;

}

#leg_container, #d3-militarization {
  display: inline-block;
  margin: 0 auto
}

.center{
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 75%;
  text-align: center
}

ul {
  list-style-type: none
}