body {
  margin: 0;
  padding: 0;
}

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

#features {
  width: 50%;
  overflow-y: scroll;
  padding-top: 100px;
  margin-left: 50px;
}

section {
  padding: 20px 40px;
  line-height: 25px;
  margin-bottom: 400px;
  border-bottom: 1px solid #ddd;
  opacity: 0.25;
  font-size: 13px;
  background-color: #fafafa;
  min-width: 600px
}

section.active {
  opacity: 0.95;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

section:last-child {
  border-bottom: none;
  margin-bottom: 200px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  float: left;
  width: 50%;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 100
}

h1, h2, h3, h4, svg, .tooltip {
  font-family: 'Crimson Text', serif;
}

h1 {
  font-size: 45px;
  line-height: 1;
  margin-bottom: -15px;
}

h2 {
  font-size: 36px;
  line-height: 1;
  margin-bottom: -10px;
}

h3 {
  font-size: 24px
}

input[type=button] {
  border: 1px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Lato';
  max-width: 200px;
  white-space: normal;
  word-wrap: break-word;
}

#leg_container, #d3-militarization {
  display: inline-block;
  margin: 0 auto
}

ul {
  list-style-type: none
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.column-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.row-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.half {
  width: 48%;
  padding: 1%;
}

.authors {
  font-style: italic;
}

#d3-calendar {
  align-items: flex-start;
}

.month {
  margin: 5px;
}

#d3-population, #d3-racism {
  margin: 20px;
}